<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.maot.navigation.dao.UserInfoDao">
	<resultMap id="BaseResultMap" type="com.maot.navigation.entity.UserInfo">
		<id column="id" property="id" jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
		<result column="user_name" property="userName" jdbcType="VARCHAR" />
		<result column="pwd" property="pwd" jdbcType="VARCHAR" />
		<result column="qq" property="qq" jdbcType="VARCHAR" />
		<result column="wechat" property="wechat" jdbcType="VARCHAR" />
		<result column="mail" property="mail" jdbcType="VARCHAR" />
		<result column="age" property="age" jdbcType="INTEGER" />
		<result column="birth" property="birth" jdbcType="VARCHAR" />
		<result column="city" property="city" jdbcType="VARCHAR" />
		<result column="last_logon_time" property="lastLogonTime"
			jdbcType="TIMESTAMP" />
		<result column="status" property="status" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		id, create_time, update_time, user_name, pwd, qq, wechat, mail, age,
		birth, city,
		last_logon_time, status
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from user_info
		where id = #{id,jdbcType=VARCHAR}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from user_info
		where id = #{id,jdbcType=VARCHAR}
	</delete>
	<insert id="insert" parameterType="com.maot.navigation.entity.UserInfo">
		insert into user_info (id, create_time, update_time,
		user_name, pwd, qq,
		wechat, mail, age,
		birth, city, last_logon_time,
		status)
		values (#{id,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP},
		#{updateTime,jdbcType=TIMESTAMP},
		#{userName,jdbcType=VARCHAR}, #{pwd,jdbcType=VARCHAR}, #{qq,jdbcType=VARCHAR},
		#{wechat,jdbcType=VARCHAR}, #{mail,jdbcType=VARCHAR},
		#{age,jdbcType=INTEGER},
		#{birth,jdbcType=VARCHAR}, #{city,jdbcType=VARCHAR}, #{lastLogonTime,jdbcType=TIMESTAMP},
		#{status,jdbcType=VARCHAR})
	</insert>
	<insert id="insertSelective" parameterType="com.maot.navigation.entity.UserInfo">
		insert into user_info
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
			<if test="updateTime != null">
				update_time,
			</if>
			<if test="userName != null">
				user_name,
			</if>
			<if test="pwd != null">
				pwd,
			</if>
			<if test="qq != null">
				qq,
			</if>
			<if test="wechat != null">
				wechat,
			</if>
			<if test="mail != null">
				mail,
			</if>
			<if test="age != null">
				age,
			</if>
			<if test="birth != null">
				birth,
			</if>
			<if test="city != null">
				city,
			</if>
			<if test="lastLogonTime != null">
				last_logon_time,
			</if>
			<if test="status != null">
				status,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateTime != null">
				#{updateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="userName != null">
				#{userName,jdbcType=VARCHAR},
			</if>
			<if test="pwd != null">
				#{pwd,jdbcType=VARCHAR},
			</if>
			<if test="qq != null">
				#{qq,jdbcType=VARCHAR},
			</if>
			<if test="wechat != null">
				#{wechat,jdbcType=VARCHAR},
			</if>
			<if test="mail != null">
				#{mail,jdbcType=VARCHAR},
			</if>
			<if test="age != null">
				#{age,jdbcType=INTEGER},
			</if>
			<if test="birth != null">
				#{birth,jdbcType=VARCHAR},
			</if>
			<if test="city != null">
				#{city,jdbcType=VARCHAR},
			</if>
			<if test="lastLogonTime != null">
				#{lastLogonTime,jdbcType=TIMESTAMP},
			</if>
			<if test="status != null">
				#{status,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.maot.navigation.entity.UserInfo">
		update user_info
		<set>
			<if test="createTime != null">
				create_time = #{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateTime != null">
				update_time = #{updateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="userName != null">
				user_name = #{userName,jdbcType=VARCHAR},
			</if>
			<if test="pwd != null">
				pwd = #{pwd,jdbcType=VARCHAR},
			</if>
			<if test="qq != null">
				qq = #{qq,jdbcType=VARCHAR},
			</if>
			<if test="wechat != null">
				wechat = #{wechat,jdbcType=VARCHAR},
			</if>
			<if test="mail != null">
				mail = #{mail,jdbcType=VARCHAR},
			</if>
			<if test="age != null">
				age = #{age,jdbcType=INTEGER},
			</if>
			<if test="birth != null">
				birth = #{birth,jdbcType=VARCHAR},
			</if>
			<if test="city != null">
				city = #{city,jdbcType=VARCHAR},
			</if>
			<if test="lastLogonTime != null">
				last_logon_time = #{lastLogonTime,jdbcType=TIMESTAMP},
			</if>
			<if test="status != null">
				status = #{status,jdbcType=VARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=VARCHAR}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.maot.navigation.entity.UserInfo">
		update user_info
		set create_time = #{createTime,jdbcType=TIMESTAMP},
		update_time = #{updateTime,jdbcType=TIMESTAMP},
		user_name = #{userName,jdbcType=VARCHAR},
		pwd = #{pwd,jdbcType=VARCHAR},
		qq = #{qq,jdbcType=VARCHAR},
		wechat = #{wechat,jdbcType=VARCHAR},
		mail = #{mail,jdbcType=VARCHAR},
		age = #{age,jdbcType=INTEGER},
		birth = #{birth,jdbcType=VARCHAR},
		city = #{city,jdbcType=VARCHAR},
		last_logon_time = #{lastLogonTime,jdbcType=TIMESTAMP},
		status = #{status,jdbcType=VARCHAR}
		where id = #{id,jdbcType=VARCHAR}
	</update>
</mapper>