<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.maot.navigation.dao.WebsiteTypeDao">
	<resultMap id="BaseResultMap" type="com.maot.navigation.entity.WebsiteType">
		<id column="id" property="id" jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="type" property="type" jdbcType="VARCHAR" />
		<result column="p_type" property="pType" jdbcType="VARCHAR" />
		<result column="p_name" property="pName" jdbcType="VARCHAR" />
		<result column="sort" property="sort" jdbcType="INTEGER" />
		<result column="status" property="status" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		id, create_time, update_time, name, type, p_type, p_name,
		sort, status
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from website_type
		where id = #{id,jdbcType=VARCHAR}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from
		website_type
		where id = #{id,jdbcType=VARCHAR}
	</delete>
	<insert id="insert" parameterType="com.maot.navigation.entity.WebsiteType">
		insert into website_type (id,
		create_time, update_time,
		name, type, p_type,
		p_name, sort, status
		)
		values (#{id,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP},
		#{updateTime,jdbcType=TIMESTAMP},
		#{name,jdbcType=VARCHAR},
		#{type,jdbcType=VARCHAR}, #{pType,jdbcType=VARCHAR},
		#{pName,jdbcType=VARCHAR}, #{sort,jdbcType=INTEGER},
		#{status,jdbcType=VARCHAR}
		)
	</insert>
	<insert id="insertSelective" parameterType="com.maot.navigation.entity.WebsiteType">
		insert into website_type
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
			<if test="updateTime != null">
				update_time,
			</if>
			<if test="name != null">
				name,
			</if>
			<if test="type != null">
				type,
			</if>
			<if test="pType != null">
				p_type,
			</if>
			<if test="pName != null">
				p_name,
			</if>
			<if test="sort != null">
				sort,
			</if>
			<if test="status != null">
				status,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateTime != null">
				#{updateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="name != null">
				#{name,jdbcType=VARCHAR},
			</if>
			<if test="type != null">
				#{type,jdbcType=VARCHAR},
			</if>
			<if test="pType != null">
				#{pType,jdbcType=VARCHAR},
			</if>
			<if test="pName != null">
				#{pName,jdbcType=VARCHAR},
			</if>
			<if test="sort != null">
				#{sort,jdbcType=INTEGER},
			</if>
			<if test="status != null">
				#{status,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.maot.navigation.entity.WebsiteType">
		update website_type
		<set>
			<if test="createTime != null">
				create_time = #{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateTime != null">
				update_time = #{updateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="name != null">
				name = #{name,jdbcType=VARCHAR},
			</if>
			<if test="type != null">
				type = #{type,jdbcType=VARCHAR},
			</if>
			<if test="pType != null">
				p_type = #{pType,jdbcType=VARCHAR},
			</if>
			<if test="pName != null">
				p_name = #{pName,jdbcType=VARCHAR},
			</if>
			<if test="sort != null">
				sort = #{sort,jdbcType=INTEGER},
			</if>
			<if test="status != null">
				status = #{status,jdbcType=VARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=VARCHAR}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.maot.navigation.entity.WebsiteType">
		update
		website_type
		set create_time = #{createTime,jdbcType=TIMESTAMP},
		update_time = #{updateTime,jdbcType=TIMESTAMP},
		name =
		#{name,jdbcType=VARCHAR},
		type = #{type,jdbcType=VARCHAR},
		p_type =
		#{pType,jdbcType=VARCHAR},
		p_name = #{pName,jdbcType=VARCHAR},
		sort =
		#{sort,jdbcType=INTEGER},
		status = #{status,jdbcType=VARCHAR}
		where id =
		#{id,jdbcType=VARCHAR}
	</update>

	<select id="getByPType" resultType="com.maot.navigation.entity.WebsiteType"
		parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from website_type
			where p_type= #{type,jdbcType=VARCHAR}
	</select>
</mapper>