
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" type="text/css"
	href="/bloglucky/css/style_header.css">
<link rel="stylesheet" type="text/css"
	href="/bloglucky/css/navigation.css">
<link
	href="/bloglucky/thirdparty/bootstrap-3.3.7-dist/css/bootstrap.min.css"
	rel="stylesheet">
<script
	src="/bloglucky/thirdparty/bootstrap-3.3.7-dist/css/bootstrap-theme.min.css"></script>
<script src="/bloglucky/js/jquery-1.11.1.min.js"></script>
<script
	src="/bloglucky/thirdparty/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
</head>
<body>
	<div style="height:200px;position: absolute;top:90px;right:0px;left:0px;text-align: center;">
	<div style="text-align: center;"><img height="200" width="1500"; src="../images/header.jpg" /></div>
	</div>
	<div class="container">
		<div class="row clearfix" style="margin-top: 15px;z-index: 9999;">
			<div class="col-md-12 column">
				<div id="nav">

					<ul class="nav-menu clearfix unstyled">

						<li><a href="#" class="three-d active"> Home <span
								class="three-d-box"><span class="front">Home</span><span
									class="back">Home</span></span>

						</a></li>

						<li><a href="#" class="three-d"> Services <span
								class="three-d-box"><span class="front">Services</span><span
									class="back">Services</span></span>

						</a></li>

						<li><a href="#" class="three-d"> Products <span
								class="three-d-box"><span class="front">Products</span><span
									class="back">Products</span></span>

						</a></li>

						<li><a href="#" class="three-d"> About <span
								class="three-d-box"><span class="front">About</span><span
									class="back">About</span></span>

						</a></li>

						<li><a href="#" class="three-d"> Contact <span
								class="three-d-box"><span class="front">Contact</span><span
									class="back">Contact</span></span>

						</a></li>

						<li><a href="#" class="three-d"> Blog <span
								class="three-d-box"><span class="front">Blog</span><span
									class="back">Blog</span></span></a>

							<ul class="clearfix unstyled drop-menu">

								<li><a href="#" class="three-d"> Html5 <span
										class="three-d-box"><span class="front">Html5</span><span
											class="back">Html5</span></span>

								</a></li>

								<li><a href="#" class="three-d"> Css3 <span
										class="three-d-box"><span class="front">Css3</span><span
											class="back">Css3</span></span>

								</a></li>

								<li><a href="#" class="three-d"> JavaScript <span
										class="three-d-box"><span class="front">JavaScript</span><span
											class="back">JavaScript</span></span>

								</a></li>

								<li><a href="#" class="three-d"> Videogames <span
										class="three-d-box"><span class="front">Videogames</span><span
											class="back">Videogames</span></span>

								</a></li>

							</ul></li>

						<li><a href="#" class="three-d"> Shop On-line <span
								class="three-d-box"><span class="front">Shop
										On-line</span><span class="back">Shop On-line</span></span>

						</a></li>

					</ul>

				</div>

			</div>
		</div>
		<!-- <div class="row clearfix">
			<div class="col-md-12 column">
				<div class="carousel slide" id="carousel-333686">
					<ol class="carousel-indicators">
						<li data-slide-to="0" data-target="#carousel-333686"></li>
						<li data-slide-to="1" data-target="#carousel-333686"
							class="active"></li>
						<li data-slide-to="2" data-target="#carousel-333686"></li>
					</ol>
					<div class="carousel-inner">
						<div class="item">
							<img alt="" src="../images/default.jpg" />
							<div class="carousel-caption">
								<h4>First Thumbnail label</h4>
								<p>Cras justo odio, dapibus ac facilisis in, egestas eget
									quam. Donec id elit non mi porta gravida at eget metus. Nullam
									id dolor id nibh ultricies vehicula ut id elit.</p>
							</div>
						</div>
						<div class="item active">
							<img alt="" src="../images/default1.jpg" />
							<div class="carousel-caption">
								<h4>Second Thumbnail label</h4>
								<p>Cras justo odio, dapibus ac facilisis in, egestas eget
									quam. Donec id elit non mi porta gravida at eget metus. Nullam
									id dolor id nibh ultricies vehicula ut id elit.</p>
							</div>
						</div>
						<div class="item">
							<img alt="" src="../images/default2.jpg" />
							<div class="carousel-caption">
								<h4>Third Thumbnail label</h4>
								<p>Cras justo odio, dapibus ac facilisis in, egestas eget
									quam. Donec id elit non mi porta gravida at eget metus. Nullam
									id dolor id nibh ultricies vehicula ut id elit.</p>
							</div>
						</div>
					</div>
					<a class="left carousel-control" href="#carousel-333686"
						data-slide="prev"><span
						class="glyphicon glyphicon-chevron-left"></span></a> <a
						class="right carousel-control" href="#carousel-333686"
						data-slide="next"><span
						class="glyphicon glyphicon-chevron-right"></span></a>
				</div>
			</div>
		</div> -->
		<div class="row clearfix" style="margin-top: 220px;">
			<div class="col-md-8 column">
				<div class="media">
					<div class="media-body">
						<h4 class="media-heading">Nested media heading</h4>
						Cras sit amet nibh libero, in gravida nulla. Nulla vel metus
						scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum
						in vulputate at, tempus viverra turpis.
						<div class="media">
							<a href="#" class="pull-left"><img
								src="../images/default7.jpg" class="media-object" alt='' /></a>
							<div class="media-body">
								<h4 class="media-heading">Nested media heading</h4>
								Cras sit amet nibh libero, in gravida nulla. Nulla vel metus
								scelerisque ante sollicitudin commodo. Cras purus odio,
								vestibulum in vulputate at, tempus viverra turpis.
							</div>
						</div>
					</div>
				</div>
				<div class="media well">
					<div class="media-body">
						<h4 class="media-heading">Nested media heading</h4>
						Cras sit amet nibh libero, in gravida nulla. Nulla vel metus
						scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum
						in vulputate at, tempus viverra turpis.
						<div class="media">
							<a href="#" class="pull-left"><img
								src="../images/default7.jpg" class="media-object" alt='' /></a>
							<div class="media-body">
								<h4 class="media-heading">Nested media heading</h4>
								Cras sit amet nibh libero, in gravida nulla. Nulla vel metus
								scelerisque ante sollicitudin commodo. Cras purus odio,
								vestibulum in vulputate at, tempus viverra turpis.
							</div>
						</div>
					</div>
				</div>
				<div class="media">
					<div class="media-body">
						<h4 class="media-heading">Nested media heading</h4>
						Cras sit amet nibh libero, in gravida nulla. Nulla vel metus
						scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum
						in vulputate at, tempus viverra turpis.
						<div class="media">
							<a href="#" class="pull-left"><img
								src="../images/default7.jpg" class="media-object" alt='' /></a>
							<div class="media-body">
								<h4 class="media-heading">Nested media heading</h4>
								Cras sit amet nibh libero, in gravida nulla. Nulla vel metus
								scelerisque ante sollicitudin commodo. Cras purus odio,
								vestibulum in vulputate at, tempus viverra turpis.
							</div>
						</div>
					</div>
				</div>
				<div class="media well">
					<div class="media-body">
						<h4 class="media-heading">Nested media heading</h4>
						Cras sit amet nibh libero, in gravida nulla. Nulla vel metus
						scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum
						in vulputate at, tempus viverra turpis.
						<div class="media">
							<a href="#" class="pull-left"><img
								src="../images/default7.jpg" class="media-object" alt='' /></a>
							<div class="media-body">
								<h4 class="media-heading">Nested media heading</h4>
								Cras sit amet nibh libero, in gravida nulla. Nulla vel metus
								scelerisque ante sollicitudin commodo. Cras purus odio,
								vestibulum in vulputate at, tempus viverra turpis.
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-4 column">
				<div class="container_head">
					<div class="team-members row_head">
						<div class="single-member effect-1">
							<div class="member-image">
								<img src="../images/member_140x145.jpg" alt="Member">
							</div>
							<div class="member-info">
								<h3>Sophia</h3>
								<h5>ShowGilr</h5>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
									sed do eiusmod tempor incididunt ut labore et dolore magna
									aliqua.</p>
								<div class="social-touch">
									<a class="fb-touch" href="#"></a> <a class="tweet-touch"
										href="#"></a> <a class="linkedin-touch" href="#"></a>
								</div>
							</div>
						</div>
					</div>
				</div>

				<h2>Heading</h2>
				<p>Donec id elit non mi porta gravida at eget metus. Fusce
					dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh,
					ut fermentum massa justo sit amet risus. Etiam porta sem malesuada
					magna mollis euismod. Donec sed odio dui.</p>
				<p>
					<a class="btn" href="#">View details »</a>
				</p>
				<h2>Heading</h2>
				<p>Donec id elit non mi porta gravida at eget metus. Fusce
					dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh,
					ut fermentum massa justo sit amet risus. Etiam porta sem malesuada
					magna mollis euismod. Donec sed odio dui.</p>
				<p>
					<a class="btn" href="#">View details »</a>
				</p>
				<h2>Heading</h2>
				<p>Donec id elit non mi porta gravida at eget metus. Fusce
					dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh,
					ut fermentum massa justo sit amet risus. Etiam porta sem malesuada
					magna mollis euismod. Donec sed odio dui.</p>
				<p>
					<a class="btn" href="#">View details »</a>
				</p>
			</div>
		</div>
		<div class="row clearfix">
			<div class="col-md-12 column">
				<div class="row">
					<div class="col-md-4">
						<div class="thumbnail">
							<img alt="300x200" src="../images/default4.jpg" />
							<div class="caption">
								<h3>Thumbnail label</h3>
								<p>Cras justo odio, dapibus ac facilisis in, egestas eget
									quam. Donec id elit non mi porta gravida at eget metus. Nullam
									id dolor id nibh ultricies vehicula ut id elit.</p>
								<p>
									<a class="btn btn-primary" href="#">Action</a> <a class="btn"
										href="#">Action</a>
								</p>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="thumbnail">
							<img alt="300x200" src="../images/default4.jpg" />
							<div class="caption">
								<h3>Thumbnail label</h3>
								<p>Cras justo odio, dapibus ac facilisis in, egestas eget
									quam. Donec id elit non mi porta gravida at eget metus. Nullam
									id dolor id nibh ultricies vehicula ut id elit.</p>
								<p>
									<a class="btn btn-primary" href="#">Action</a> <a class="btn"
										href="#">Action</a>
								</p>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="thumbnail">
							<img alt="300x200" src="../images/default4.jpg" />
							<div class="caption">
								<h3>Thumbnail label</h3>
								<p>Cras justo odio, dapibus ac facilisis in, egestas eget
									quam. Donec id elit non mi porta gravida at eget metus. Nullam
									id dolor id nibh ultricies vehicula ut id elit.</p>
								<p>
									<a class="btn btn-primary" href="#">Action</a> <a class="btn"
										href="#">Action</a>
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>