.bg{
	width: 100%;
	background: #041725 url(../image/bg7.jpg) no-repeat center top;
	overflow: hidden;
}
.my_skin .bg7{
	background-color: #0C9;
	background-image: url(../image/dangqian.png);
	background-repeat: no-repeat;
	background-position: right bottom;
}
